client = "ehrz"
azure_region = "cc"
vm_name = "myvm"
username = "ehrz"
ssh_file_path = "~/.ssh/id_rsa.pub"
allowed_ssh_ips =  ['1.1.1.1'] # Add your local ip: `curl whatismyip.akamai.com`
allowed_http_ips =  ['1.1.1.1']
vm_size = "Standard_D2sv4"
solution = "solution"
publisher = "Canonical"
offer = "UbuntuServer"
sku = "18_04-lts"


region_map= {
    "ncus" = "northcentralus"
    "cus"  = "centralus"
    "ce"   = "canadaeast"
    "cc"   = "canadacentral"
  }


extra_tags= {}

